body {
    background-color: white;
    border: 2px solid rgb(0, 30, 128);
    margin: 6rem 8rem;

}
h1,
h2,
h3{
    font-size: 18px;
}
.first,
.second,
.third{
    font-size: 14px;
    padding: 5px 10px;
}
.first{
    color: green;
}
.second{
    border-top: 1px dotted red;
    color: red;
}
.third {
    border-top: 1px dotted blue;
    color: blue;
}